{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-6 md-8">
      <div class="container-fluid">
        <div class="row row-cols-sm-2">
            <div class="col-xl-6 input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="지역구명을 적어주세요. 예) 부산진구" aria-label="Recipient's username" aria-describedby="button-addon2" aria-describedby="addon-wrapping">
              <div class="input-group-append">
                <button class="btn btn-light" type="button" id="button-addon2">내 지역구 검색</button>
              </div>
            </div>
            <div class="ml-2 row pt-1">
              <div class="mr-2 mb-2">
                <button id='preCupOnly' class="btn btn-primary">현재 수거함만 보기</button>
                <button id='cellOnly' class="btn btn-slack">예상 수거함만 보기</button>
              </div>
              <div class="col pl-0 pr-4">
                <button id='both' class="btn btn-warning btn-block ">둘다 보기</button>
              </div>
            </div>
          <div class="col-12">
            <div class="card shadow border-0 mt-3">
              <div id="map" class="map-canvas" style="height: 600px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">우리구 수거함 갯수</h5>
                    <span class="h2 font-weight-bold mb-0">{{count}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-trash-alt"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 50개</span>
                  <span class="text-nowrap">다른 구 평균 보다</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">예상 설치 지역</h5>
                    <span class="h2 font-weight-bold mb-0">50</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      <i class="fas fa-recycle"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-up"></i> 40 개 지역</span>
                  <span class="text-nowrap">다른 구 평균 보다</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid mt-4" >
      <div id="detail" class="row collapse">
        <div class="col-12">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">장소 상세 정보</h3>
                </div>
                <div class="col-4 text-right">
                  <a class="btn btn-primary toTop">지도로 가기</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="">
                <div id="staticmap" class="map-canvas" style="height: 350px;"></div>
              </div>
              <form class="">
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" 
                              value="{{ request.user.username }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative" 
                              placeholder="{{ request.user.email }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" >
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMkWvo1fWXALAlUAbyXEB_lSquL2ibfx0&callback=initMap&region=kr"></script>
<script type="text/javascript">
  var pc = JSON.parse('{{pc|safe}}');
  var df = JSON.parse('{{df|safe}}');

  let map;
  let cells;
  let polygons;
  let polygon_centers;
  let pre_cups;

  function initMap(){
    var seoul = { lat: 37.5642135 ,lng: 127.0016985 };
    map = new google.maps.Map( document.getElementById('map'), { zoom: 12, center: seoul });

    cells = makeCells();
    polygons = makePolygons(cells);
    polygon_centers = makePolygonCenters(cells, map);
    pre_cups = makePreCups(map);
    setMapOnAll(pre_cups, map);
    setMapOnAll(polygon_centers, map);
    setMapOnAll(polygons, map);
  }

  function makeCells(){
    var cells = []
    for(var i in df){
      coors = df[i]
      const cellCoords = [
      { lat: coors['lat1'], lng: coors['long1'] },
      { lat: coors['lat2'], lng: coors['long2'] },
      { lat: coors['lat4'], lng: coors['long4'] },
      { lat: coors['lat3'], lng: coors['long3'] }
      ];
      cells.push(cellCoords);
    }
    return cells;
  }
  
  function makePolygons(cells){
    var polygons = [];
    for(var i in cells){
      var ploygon = new google.maps.Polygon({
        paths: cells[i],
        strokeColor: "#ffe54a",
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: "#ffe54a",
        fillOpacity: 0.35
      });
      polygons.push(ploygon);
    }
    return polygons;
  }

  function makePolygonCenters(cells, map){
    var polygon_centers = [];
    const shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: "poly"
    };

    for(var i in cells){
      var lat =0.0, long =0.0;
      for (var j in cells[i]){
        lat += parseFloat(cells[i][j]['lat']);
        long += parseFloat(cells[i][j]['lng']);
      }
      lat = lat/cells[i].length;
      long = long/cells[i].length;
      // console.log(lat, long);
      var center = new google.maps.Marker({
        position: { lat: lat, lng: long },
        map,
        icon: '/static/assets/img/map/green_cup_resize2.png',
        shape: shape,
        title: i,
        zIndex: parseInt(i),
        label: {text : 'pre_cup', fontSize : '0px'}
      });
      center.addListener("click", moveToDiv);
      polygon_centers.push(center);
    }
    return polygon_centers;
  }
  
  function makePreCups(map) {
    var pre_cups=[]
    const shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: "poly"
    };

    for (var i in pc) {
      const precup = pc[i];
      var pre_cup = new google.maps.Marker({
        position: { lat: precup['fields']['lat'], lng: precup['fields']['long'] },
        map,
        icon: '/static/assets/img/map/orange_cup_resize2.png',
        title: pc[i]['pk'],
        zIndex: parseInt(i),
        label: {text : 'pre_cup', fontSize : '0px'}
      });
      pre_cup.addListener("click", moveToDiv);
      pre_cups.push(pre_cup);
    }
    return pre_cups;
  }

  function setMapOnAll(markers, map){
    for(var i in markers){
      markers[i].setMap(map);
    }
  }

  // Removes the markers from the map, but keeps them in the array.
  function clearMarkers(markers) {
    setMapOnAll(markers,null);
  }

  function moveToDiv(){
    label = this.getLabel()['text'];
    
  }
  
  $( document ).ready( function() {
    $('#cellOnly').click( function() {
      setMapOnAll(polygon_centers, map);
      setMapOnAll(polygons, map);
      clearMarkers(pre_cups);
    });

    $('#preCupOnly').click( function() {
      setMapOnAll(pre_cups, map);
      clearMarkers(polygon_centers);
      clearMarkers(polygons);
    });

    $('#both').click( function() {
      clearMarkers();
      setMapOnAll(pre_cups, map);
      setMapOnAll(polygon_centers, map);
      setMapOnAll(polygons, map);
    });
    
    $('.toTop').click( function() {
      
    });
  });
</script>

{% endblock javascripts %}
