    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-horizontal navbar-expand-md bg-white">
      <div class="container px-4">
        <a class="navbar-brand" href="/">
          <img src="/static/assets/img/brand/logo.png" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
          <div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="/">
                  <img src="/static/assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <!-- Navbar items -->
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a target="_blank" 
                 class="nav-link nav-link-icon" 
                 href="https://github.com/creativetimofficial/argon-dashboard-django">
                <i class="ni ni-pin-3 text-orange"></i>
                <span class="nav-link-inner--text">우리구 수거함 보기</span>
              </a>
            </li>

            <li class="nav-item">
              <a target="_blank" 
                 class="nav-link nav-link-icon" href="https://www.creative-tim.com/templates/django">
                <i class="ni ni-bullet-list-67 text-info"></i>
                <span class="nav-link-inner--text">시민 의견란</span>
              </a>
            </li>
            <li class="nav-item">
              <a target="_blank" 
                 class="nav-link nav-link-icon" href="https://www.creative-tim.com/templates/django">
                <i class="ni ni-single-02 text-yellow"></i>
                <span class="nav-link-inner--text">만든 사람들</span>
              </a>
            </li>
            <li class="nav-item">
              <a target="_blank" 
                 class="nav-link nav-link-icon" href="https://www.creative-tim.com/templates/django">
                <i class="fas fa-address-card"></i>
                <span class="nav-link-inner--text">관리자 페이지</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
