{% extends 'layouts/base.html' %}

{% block title %} Maker {% endblock title %}

{% block content %}
<div class="container"><br>
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/static/assets/img/maker/PSY.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3 class="card-title mb-0"><b>Seonyoung Park</b></h3>
          <div class="card-text text-black-50">데이터 전처리 및 데이터 분석</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/static/assets/img/maker/PJS.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3 class="card-title mb-0"><b>Jeongsu Park</b></h3>
          <div class="card-text text-black-50">기획 및 웹 개발</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/static/assets/img/maker/AHJ.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3 class="card-title mb-0"><b>Hyeju An</b></h3>
          <div class="card-text text-black-50">웹 개발 및 데이터 전처리</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/static/assets/img/maker/LGM.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3 class="card-title mb-0"><b>Gwangmin Lee</b></h3>
          <div class="card-text text-black-50">데이터 전처리 및 데이터 분석</div>
        </div>
      </div>
    </div>
    <!-- Team Member 5 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="/static/assets/img/maker/LYM.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h3 class="card-title mb-0"><b>Yumi Lee</b></h3>
          <div class="card-text text-black-50">데이터 전처리 및 데이터 분석</div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% comment %} {% include "includes/footer.html" %} {% endcomment %}

<!-- Specific JS goes HERE --> 

{% block javascripts %}
{% endblock javascripts %}