<form target="myp">
  <div class="form-group">
    <br><br>
    <label for="pid"><h5>지역구 :</h5></label>
    <input type="text" class="form-control" name="region" id="pid">
  </div>
  <div class="form-group">
    <label for="cid"><h5>세부 장소 :</h5></label>
    <input type="text" class="form-control" name="place"  id="cid">
  </div>
  <div class="form-group">
    <label for="did"><h5>이유 :</h5></label>
    <input type="text" class="form-control" name="reason"  id="did">
  </div>
  <div class="form-group">
    <label for="fid"><h5>건의사항 :</h5></label>
    <input type="text" class="form-control" name="say"  id="fid">
  </div>
  <br>
  <button type="submit" class="btn btn-info">입력</button>
  <br><br>
</form>
<iframe name="myp" width="100%" height="100" frameborder="0"></iframe>