<form action="insertOpinion" target="myp">
  <div class="form-group">
    <label for="pid">지역 :</label>
    <input type="text" class="form-control" name="region" id="pid">
  </div>
  <div class="form-group">
    <label for="cid">세부 장소 :</label>
    <input type="text" class="form-control" name="place"  id="cid">
  </div>
  <div class="form-group">
    <label for="did">이유 :</label>
    <input type="text" class="form-control" name="reason"  id="did">
  </div>
  <div class="form-group">
    <label for="fid">건의사항 :</label>
    <input type="text" class="form-control" name="say"  id="fid">
  </div>
  <button type="submit" class="btn btn-primary">입력</button>
</form>
<iframe name="myp" width="100%" height="100" frameborder="0"></iframe>